@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New:wght@700&display=swap');

.container{
  width:80%;
  margin:auto;
  text-align: center;
}

 body{
   background-color:rgb(7, 7, 7);
 }
 h1{
   color:rgb(66, 197, 84);
   font-size:4rem;
   margin-top:0.8rem;
  
   font-family: 'Scheherazade New', serif;
 }
 .dice{
   display:inline-block;
   font-size:2rem;
  
   font-family: 'Scheherazade New', serif;
 }
 p{
   color:rgb(66, 197, 84);
   margin-top:1.5rem;
   padding:1rem;
 }
 img{
   width:80%;
 }
