@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New:wght@700&display=swap');

.container{
  width:80%;
  margin:auto;
  text-align: center;
}

 body{
   background-color:rgb(7, 7, 7);
 }
 h1{
   color:rgb(66, 197, 84);
   font-size:4rem;
   margin-top:0.8rem;
  
   font-family: 'Scheherazade New', serif;
 }
 .dice{
   display:inline-block;
   font-size:2rem;
  
   font-family: 'Scheherazade New', serif;
 }
 p{
   color:rgb(66, 197, 84);
   margin-top:1.5rem;
   padding:1rem;
 }
 img{
   width:80%;
 }
.reload{
  display:block;
  width:7rem;
  margin:1rem auto;
  text-align: center;
  border-radius: 1rem;
  font-size:1.3rem;
  font-family: 'Scheherazade New', serif;
  color:white;
  background-color:rgb(253, 51, 0);
  /* border:2px solid rgb(7, 7, 7); */
  border:2px solid rgb(66, 197, 84);
  cursor:pointer;
}